# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# MacOS
.DS_Store

# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
.mvn/
log/
*.log

# JavaFX SDK (если не используешь через Maven)
javafx-sdk-21/

# Temporary files
*.tmp
*.bak
*.swp

# Windows system files
Thumbs.db
desktop.ini
*.orig